## What are the most in demand skills for the most popular data roles?

First I'll import everything I'll need, just as before

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import ast
from datasets import load_dataset

C:\Users\Geoff\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
#Loading in the dataframe
df = pd.read_csv('hf://datasets/lukebarousse/data_jobs/data_jobs.csv')

In [ ]:
#Narrowing down the country to Canada again
df_CA = df[df['job_country'] == 'Canada']

df_CA.head(3)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
50,Machine Learning Engineer,Sr ML Engineer - Research & NLP (Remote),"Toronto, ON, Canada",via Careers At BenchSci,Full-time,False,Canada,2023-08-24 13:40:48,False,False,Canada,NaN,NaN,NaN,BenchSci,"['python', 'sql', 'pytorch', 'pandas']","{'libraries': ['pytorch', 'pandas'], 'programm..."
59,Data Engineer,Data Engineer with Dremio Experience,"Toronto, ON, Canada",via LinkedIn,Contractor,False,Canada,2023-08-28 13:35:13,True,False,Canada,NaN,NaN,NaN,Iris Software Inc.,"['sql', 'hadoop', 'kubernetes']","{'libraries': ['hadoop'], 'other': ['kubernete..."
81,Data Analyst,Business Data Analyst,"Regina, SK, Canada",via ZipRecruiter,Full-time,False,Canada,2023-03-01 13:28:04,False,False,Canada,NaN,NaN,NaN,027 Parks Culture and Sport,NaN,NaN

# The job skills column is a string, so first I will convert it to a list

In [18]:
#First we remove NA values
df_CA['job_skills'] = df_CA['job_skills'].dropna()

#This line to see what we are working with
df_CA['job_skills']

C:\Users\Geoff\AppData\Local\Temp\ipykernel_44728\2307310184.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CA['job_skills'] = df_CA['job_skills'].dropna()

50                   ['python', 'sql', 'pytorch', 'pandas']
59                          ['sql', 'hadoop', 'kubernetes']
81                                                      NaN
85                                    ['python', 'pytorch']
98                 ['python', 'aws', 'databricks', 'spark']
                                ...
785317    ['sql', 'python', 'sql server', 'snowflake', '...
785327                                     ['sql', 'azure']
785339    ['sql', 'python', 'sql server', 'mysql', 'post...
785511    ['sql', 'nosql', 'python', 'java', 'cassandra'...
785643                                    ['word', 'excel']
Name: job_skills, Length: 16029, dtype: object

In [23]:

# Initialize an empty list to store the split skills for the new column
split_skills = []

# For loop to split the skills and add them to the new column
for i in df_CA['job_skills']:
    if pd.notna(i):  # Check if the value is not NaN or None
        # Split the skills by comma and strip whitespace
        split_skills.append([skill.strip() for skill in i.split(',')])
    else:
        # Handle missing values by appending an empty list
        split_skills.append([])

# Add the new column to the DataFrame
df_CA['split_skills'] = split_skills

df_CA['split_skills']

C:\Users\Geoff\AppData\Local\Temp\ipykernel_44728\3947938809.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_CA['split_skills'] = split_skills

50                 [['python', 'sql', 'pytorch', 'pandas']]
59                        [['sql', 'hadoop', 'kubernetes']]
81                                                       []
85                                  [['python', 'pytorch']]
98               [['python', 'aws', 'databricks', 'spark']]
                                ...
785317    [['sql', 'python', 'sql server', 'snowflake', ...
785327                                   [['sql', 'azure']]
785339    [['sql', 'python', 'sql server', 'mysql', 'pos...
785511    [['sql', 'nosql', 'python', 'java', 'cassandra...
785643                                  [['word', 'excel']]
Name: split_skills, Length: 16029, dtype: object

In [ ]:
df_skills = df_CA.explode('split_skills')

df_skills[['job_title','job_skills','split_skills']]

,job_title,job_skills,split_skills
50,Sr ML Engineer - Research & NLP (Remote),"['python', 'sql', 'pytorch', 'pandas']",['python'
50,Sr ML Engineer - Research & NLP (Remote),"['python', 'sql', 'pytorch', 'pandas']",'sql'
50,Sr ML Engineer - Research & NLP (Remote),"['python', 'sql', 'pytorch', 'pandas']",'pytorch'
50,Sr ML Engineer - Research & NLP (Remote),"['python', 'sql', 'pytorch', 'pandas']",'pandas']
59,Data Engineer with Dremio Experience,"['sql', 'hadoop', 'kubernetes']",['sql'
...,...,...,...
785511,Data Engineer,"['sql', 'nosql', 'python', 'java', 'cassandra'...",'spark'
785511,Data Engineer,"['sql', 'nosql', 'python', 'java', 'cassandra'...",'airflow'
785511,Data Engineer,"['sql', 'nosql', 'python', 'java', 'cassandra'...",'kafka']
785643,Analyste,"['word', 'excel']",['word'
785643,Analyste,"['word', 'excel']",'excel']